$icon-font-path: '../fonts/';
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "node_modules/font-awesome-sass/assets/stylesheets/_font-awesome.scss";
@import "node_modules/normalize-sass/normalize.sass";


body {
  	margin:50px;
}

.resultado-descripcion{

}

.resultado-info{

}

.resultado-actualizado{
  color:#AAA;
}

.resultado-stats{

}
